<h1>Component Playground - Temporary</h1>
<br><br><br>
<app-favorite-heart></app-favorite-heart>
<app-health-square [message]="'Facebook'" [applicationID]="1234" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'Google'" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'Yahoo!'" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'Instagram'" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'Hackerrank'" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'LeetCode'" [isHealthy]="true"></app-health-square>
<app-health-square [message]="'AOL'" [isHealthy]="false"></app-health-square>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br>