.tooltip-wrap {
    position: relative;
    margin: .2rem .2rem .2rem .2rem;
    display: inline-block;
    background-color: teal;
    width: 2vw;
    height: 2vw;
    min-width: 1.4rem;
    min-height: 1.4rem;
}

.healthy {
    background-color: teal;
}

.unhealthy {
    background-color: tomato;
}

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: rgb(31, 30, 30);
    border-radius: 15px;
    color: white;
    padding: .5em;
    z-index: 2;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
    width: fit-content;
    height: 2.5rem;
    white-space: nowrap;
}