<h1>Component Playground - Temporary</h1>
<br><br><br>
<app-favorite-heart></app-favorite-heart>


<!-- Demo the flexibility of this component -->
<div style="width: 200px;height: 100px;">
    <app-health-squares-box></app-health-squares-box>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br>