.health-tile {
    width: 24%;
    height: 17%;
    background-color: #21d421;
    color: white;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.healthy{
    background-color: #63e063;
}

.unhealthy {
    background-color: #e06363;
}